$gray-1 : #f7fafc ;
$gray-2 : #edf2f7 ;
$gray-3 : #e2e8f0 ;
$gray-4 : #cbd5e0 ;
$gray-5 : #a0aec0 ;
$gray-6 : #718096 ;
$gray-7 : #4a5568 ;
$gray-8 : #2d3748 ;
$gray-9 : #1a202c ;

$teal-1 : #e6fffa ;
$teal-2 : #b2f5ea ;
$teal-3 : #81e6d9 ;
$teal-4 : #4fd1c5 ;
$teal-5 : #38b2ac ;
$teal-6 : #319795 ;
$teal-7 : #2c7a7b ;
$teal-8 : #285e61 ;
$teal-9 : #234e52 ;
